@model IEnumerable<Baza.City>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-group">
    <label for="sel1">Izaberi grad:</label>
    <select class="form-control" id="sel1">
        @foreach (var item in Model) {
              
        <option>@Html.DisplayFor(modelItem => item.cityName)</option>
 
        }
</select>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.stateName)
        </th>
        <th></th>
    </tr>



</table>
