@model IEnumerable<Baza.City>

@{
    ViewBag.Title = "Index";
}

<h2>Gradovi</h2>

<div class="form-group">
    <label for="sel1">Izaberi grad:</label>
    <select class="form-control" id="sel1">
        <option>------Odaberite grad-------</option>

        @foreach (var item in Model)
        {

            <option>@Html.DisplayFor(modelItem => item.cityName)</option>

        }
    </select>
</div>

<p>
    @Html.ActionLink("Dodaj novi", "Create")
</p>

