@{
    ViewBag.Title = "O Guido projektu";
}
<h2>@ViewBag.Title.</h2>
<p>
    Guido je prvi pravi pokušaj malih ferovaca pri izradi višeslojne aplikacije.<br />
    Članovi tima se dosada nisu susretali sa ovim tehnologijama te je svaki korak bio težak.<br />
    Na sreću, izazov je završio uspješno i svi su izašli iz njega obogaćeni novim znanjima.<br /><br />
    THE END.
</p>
