@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    Hrvatska<br />
    Zagreb 10000, Fakultet elektrotehnike i računarstva, Unska 3<br />
</address>

<address>
    <strong>Sintaksni Dijabetičari:</strong><br />
    <a href="mailto:ivan.cottiero@fer.hr">Ivan.Cottiero@fer.hr</a><br />
    <a href="mailto:marija.duvnjak@fer.hr">Marija.Duvnjak@fer.hr</a><br />
    <a href="mailto:domagoj.hrestak@fer.hr">Domagoj.Hrestak@fer.hr</a><br />
    <a href="mailto:sven.kolaric@fer.hr">Sven.Kolaric@fer.hr</a><br />



</address>